<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="login" method="post" >
        {%csrf_token%}
        Enter UserName: <input type="text" name = 'username'><br>
        Enter Password : <input type="password" name='password'><br>
        <input type="submit">

    </form>
    <div>
        {% for msg in messages%}
       <h4> {{msg}}</h4>
       {%endfor%}
    </div>
</body>
</html>